body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4b2e1e;  
    text-align: center;
    margin: 0;
    padding: 0%; /* FIXED */
}

/* Header */
header {
    padding: 15px; /* added px */
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #4b2e1e;
    border: 2px solid #8292d6;
    background-color: #ffffff;
    padding: 8px 12px;
    margin: 4px;
    /* display: inline-block; */
    font-weight: bold;
    font-size: 2rem;
}

nav a:hover {
    background-color: #b17642; 
    color: #ffffff;
}

/* Image */
img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid #4b2e1e;

}
.global{
font-size: 1.5rem;
color: #c05b25;
position: relative;
left: 60%;
bottom: 50px;
}
 /* Sections */
 .hero, .about {
    width: 100%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
 }

 /* Footer */
 footer {
    background-color: #d9c2a3;
    padding: 10px;
    margin-top: 20px;
 }

 /* Mockup Section Styling */
 .hero {
    text-align: left !important;
 }
.tagline-box {
    border: 2px solid #8292d6;
    display: inline-block;
    padding: 10px 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
    margin-left: 0px;
 }
 .mockup-btn {
    display: flex;
    flex-direction : column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-left: auto;
    width: 5%;
 }
 .mockup-btn {
    border: 2px solid #8292d6;
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
    font-size: 16px;

 }

 /* Short Contact Form Styles */
 .contact-form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
 }
 .contact-form input,
 .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
.contact-form button {
    padding: 10px;
    background: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Lab 7-3 Video Styling */
video {
    border: 2px solid black;
    margin-top: 20px;
}
/* Lab 7-4 Audio Styling */
audio {
    border: 2px solid black;
    margin-top: 20px;
}